<div class="container">
  <div class="loginwrapper">
    <div class="card">
      <div class="card-body">
        <form #loginForm = "ngForm" (ngSubmit)="loginSubmit($event)">
          <p class="h4 text-center py-4">Sign in</p>

          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" class="form-control" id="loginUsername" name="username" [(ngModel)]="loginDetails.username" #username="ngModel" mdbInputDirective required>
            <label for="loginUsername" class="font-weight-light">Username</label>
          </div>
          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="password" class="form-control" id="loginPassword" name="password" [(ngModel)]="loginDetails.password" #password="ngModel" mdbInputDirective required>
            <label for="loginPassword" class="font-weight-light">Password</label>
          </div>

          <div class="text-center py-4 mt-3">
            <button class="btn btn-cyan waves-light" [disabled]="!loginForm.valid" type="submit" mdbWavesEffect>Sign in</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>