<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark teal darken-4 scrolling-navbar ie-nav" [containerInside]="false">
  <logo>
      <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>Forms 
                  <span class="sr-only">(current)</span><span class="caret"></span></a>
                  <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#" [routerLink]="['/home/forms/templateDriven']">Template Driven Forms</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#" [routerLink]="['/home/forms/reactive']">Reactive Forms</a>
                    </div>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link">Tables</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link">HttpRequest</a>
          </li>
          <li class="nav-item waves-light" [routerLink]="['/home/cstPipe']" mdbWavesEffect>
              <a class="nav-link">Pipes</a>
          </li>
          <li class="nav-item waves-light" [routerLink]="['/home/cstDirective']" mdbWavesEffect>
                <a class="nav-link">Directives</a>
            </li>
          <!-- <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Basic dropdown<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                </div>
            </li> -->
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fab fa-instagram"></i></a>
          </li>
      </ul>
  </links>
</mdb-navbar>
<!-- Main -->

  <div class="container">
      <div class="row mt-5 pt-5">
          <div class="col">
                <router-outlet></router-outlet>
          </div>
      </div>
  </div>
<!-- /.Main -->